body { background: #9b0b46; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 34px; display: flex; }
.block-shipping-0 { color: #2fc6d6; font-size: 13px; margin-bottom: 5px; }
.block-user-1 { color: #607c2e; font-size: 15px; margin-bottom: 5px; }
.block-order-2 { color: #f295f6; font-size: 17px; margin-bottom: 5px; }
.block-sms-3 { color: #69a2f1; font-size: 12px; margin-bottom: 5px; }
.block-shipping-4 { color: #c26bf3; font-size: 12px; margin-bottom: 5px; }